<!doctype html>
<html>
  <head>
    <title>Sensor Canvas</title>
    <link rel="stylesheet" href="../static/style.css" />
    <style></style>
  </head>
  <body>
    <h1>Sensor Canvas</h1>

    <div class="toolbar">
      <div>
        <strong>Color:</strong>
        <button
          class="color-btn"
          data-color="#000080"
          style="background: #000080"
          onclick="setColor('#000080', this)"
        ></button>
        <button
          class="color-btn"
          data-color="#006400"
          style="background: #006400"
          onclick="setColor('#006400', this)"
        ></button>
        <button
          class="color-btn"
          data-color="#800080"
          style="background: #800080"
          onclick="setColor('#800080', this)"
        ></button>
        <button
          class="color-btn"
          data-color="#ffff99"
          style="background: #ffff99"
          onclick="setColor('#ffff99', this)"
        ></button>
        <button
          class="color-btn"
          data-color="#ff0000"
          style="background: #ff0000"
          onclick="setColor('#ff0000', this)"
        ></button>
        <button
          class="color-btn"
          data-color="#ff8c00"
          style="background: #ff8c00"
          onclick="setColor('#ff8c00', this)"
        ></button>
        <button onclick="saveCanvas()">Save</button>
      </div>

      <div>
        <strong>Brush:</strong>
        <button class="brush-btn selected" onclick="setBrush('pencil', this)">
          <img src="../static/pencil.png" alt="Pencil" />
        </button>

        <button class="brush-btn" onclick="setBrush('round', this)">
          <img src="../static/roundbrush.png" alt="Round Brush" />
        </button>

        <button class="brush-btn" onclick="setBrush('flat', this)">
          <img src="../static/flatbrush.png" alt="Flat Brush" />
        </button>

        <button class="brush-btn" onclick="setBrush('spray', this)">
          <img src="../static/spraybrush.png" alt="Spray Brush" />
        </button>
      </div>

      <div>
        <strong>Size:</strong>

        <input type="range" min="20" max="100" value="20" id="sizeSlider" />

        <span id="sizeText">20</span>
      </div>

      <div>
        <strong>Opacity:</strong>
        <input type="range" min="0" max="100" value="100" id="opacitySlider" />
        <span id="opacityText">100</span>
      </div>

      <button onclick="clearCanvas()">Clear Canvas</button>
    </div>

    <canvas id="drawCanvas" width="1200" height="500"></canvas>
    <script src="../static/script.js"></script>
  </body>
</html>
