<!doctype html>
<html>
  <head>
    <title>Picasso Canvas</title>
    <link rel="stylesheet" href="../static/style.css" />
    <style></style>
  </head>
  <body>
    <h1>Picasso Canvas</h1>

    <div class="toolbar">
      <div>
        <strong>Color:</strong>
        <button class="color-btn" data-color="#000029" style="background: #000029" onclick="setColor('#000029', this)"></button>
        <button class="color-btn" data-color="#000057" style="background: #000057" onclick="setColor('#000057', this)"></button>
        <button class="color-btn" data-color="#260090" style="background: #260090" onclick="setColor('#260090', this)"></button>
        <button class="color-btn" data-color="#58008f" style="background: #58008f" onclick="setColor('#58008f', this)"></button>
        <button class="color-btn" data-color="#084101" style="background: #084101" onclick="setColor('#084101', this)"></button>
        <button class="color-btn" data-color="#035b00" style="background: #035b00" onclick="setColor('#035b00', this)"></button>
        <button class="color-btn" data-color="#003240" style="background: #003240" onclick="setColor('#003240', this)"></button>
        <button class="color-btn" data-color="#004a51" style="background: #004a51" onclick="setColor('#004a51', this)"></button>
        <button class="color-btn" data-color="#ff8181" style="background: #ff8181" onclick="setColor('#ff8181', this)"></button>
        <button class="color-btn" data-color="#ff3a3a" style="background: #ff3a3a" onclick="setColor('#ff3a3a', this)"></button>
        <button class="color-btn" data-color="#fff34d" style="background: #fff34d" onclick="setColor('#fff34d', this)"></button>
        <button class="color-btn" data-color="#fffa71" style="background: #fffa71" onclick="setColor('#fffa71', this)"></button>
        <button class="color-btn" data-color="#e5773c" style="background: #e5773c" onclick="setColor('#e5773c', this)"></button>
        <button class="color-btn" data-color="#ff9532" style="background: #ff9532" onclick="setColor('#ff9532', this)"></button>
        <button class="color-btn" data-color="#ffd9b5" style="background: #ffd9b5" onclick="setColor('#ffd9b5', this)"></button>
        <button onclick="saveCanvas()">Save</button>
      </div>

      <div>
        <strong>Brush:</strong>
        <button class="brush-btn selected" onclick="setBrush('pencil', this)">
          <img src="../static/pencil.png" alt="Pencil" />
        </button>

        <button class="brush-btn" onclick="setBrush('round', this)">
          <img src="../static/roundbrush.png" alt="Round Brush" />
        </button>

        <button class="brush-btn" onclick="setBrush('flat', this)">
          <img src="../static/flatbrush.png" alt="Flat Brush" />
        </button>

        <button class="brush-btn" onclick="setBrush('spray', this)">
          <img src="../static/spraybrush.png" alt="Spray Brush" />
        </button>
      </div>

      <div>
        <strong>Size:</strong>

        <input type="range" min="20" max="100" value="20" id="sizeSlider" />

        <span id="sizeText">20</span>
      </div>

      <button onclick="clearCanvas()">Clear Canvas</button>
    </div>

    <canvas id="drawCanvas" width="1200" height="500"></canvas>
    <script src="../static/script.js"></script>
  </body>
</html>
